<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plant Disease Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <style>
    .title1 {
        background-color: #53c17e;
        padding:10px;
        text-align: center;
        
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 24px;
    }
    .description {
      background-color: lightyellow;
      color: black;
      padding: 5px;
      font-family: cursive;
      
      
      text-align: center;
    }
    .selection {
      background-color: wheat;
      padding: 5px;    
    }
    .para{
      font-size: 20px;
    }
    .iden{
      font-size: x-large;
    }
    .imp{
      font-family: cursive;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 2px solid white;
    }

    tr:hover {background-color: #ECFFDC		;}
    .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
    }
    * {
       box-sizing: border-box;
    }

    .column {
       float: left;
       width: 33.33%;
       padding: 5px;
    }

/* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }


    body{
      background-color: #53c17e	;
    }
  </style>
</head>
<body><div class="header">
  <h1 style="color:white;">Plant Disease Detector</h1>
  <p class="header-text">Detect and diagnose diseases in plants</p>
</div>
    <div class="description">
      <p>Detected disease is <q>Tomato Septoria Leaf Spot</q></p>
    </div></center>
    <div class="selection">
      <center>
      <h1>Tomato Septoria Leaf Spot</h1>
    </center>
      <h1 class="iden" style="font-size: 40px; line-height:40px; color:#A52A2A">Identification:</h1>
      <ul class="para">
        <li>1)Small, dark spots with gray or tan centers: The disease initially appears as small, circular spots with dark brown or black margins and lighter-colored centers. As the spots develop, they may become surrounded by a yellow halo.
        </li><li>2)Leaf lesions and defoliation: The spots primarily occur on the lower leaves of the plant and gradually move upward. The infected leaves may develop numerous spots, turn yellow, and eventually wither and die, leading to defoliation.
          </li><li>3)Stem and fruit lesions: In severe cases, the stems and fruits can also become infected. Stem lesions are similar to leaf lesions, and fruit lesions appear as dark, sunken spots.</li>
      </ul>  


        
      <h1 class="iden" style="font-size: 40px; line-height:40px; color:#A52A2A">Sample Images:</h1>
        
        <div class="row">
          <div class="column">
            <img  src="https://content.ces.ncsu.edu/media/images/IMG_0675_NLNaTrA.jpeg" alt="disease image" style="width:100%">
            
            
          </div>
          <div class="column">
            <img  src="https://content.ces.ncsu.edu/media/images/IMG_0677_2Oy4X17.jpeg" alt="disease image" style="width:100%">
            
        </div>
          <div class="column">
            <img  src="https://content.ces.ncsu.edu/media/images/IMG_0634.jpeg" alt="Disease image" style="width:100%">
            
        </div>
        </div>
      </br>
        <h1 class="iden" style="font-size: 40px;line-height:40px; color:#A52A2A">Description:</h1>
        <p class="para">Tomato septoria leaf spot, also known as Septoria leaf spot or Septoria lycopersici, is a common fungal disease that affects tomato plants. It is caused by the fungus Septoria lycopersici and can lead to defoliation and reduced yield if not managed properly. Here's some information on tomato septoria leaf spot and how to deal with it</p>
        <p class="imp"><b>Note:</b><i>The Scientific Name of Tomato Septoria Leaf Spot is<b> fungus Septoria lycopersici        </b></i>
        </p>
      </br>
      <b><h1 class="iden">Also Found In:</h1></b>
          <p class="para">Potato
          </p></br>
      <center><b><u><h1 class="iden"style="font-size: 40px; color:#A52A2A">Preventive Measures</h1></b></u></center>
        <p class="para"></p>
        <p class="para"><br><b></b><br>

          <br>
          <b>Crop rotation:</b> Practice proper crop rotation by avoiding planting tomatoes or related crops (such as potatoes or peppers) in the same area for consecutive seasons. This helps to reduce the build-up of fungal spores in the soil.
          <br><b>Sanitation:</b> Remove and destroy any infected plant debris, including infected leaves, stems, and fruits. This helps to prevent the spread of the fungus to healthy plants. Do not compost infected plant material.
          <br><b>Proper spacing and pruning:</b> Provide adequate spacing between tomato plants to promote air circulation and reduce humidity. This can help create a less favorable environment for the development and spread of the fungus. Prune lower leaves to increase airflow and minimize contact with the soil.
          <br><b>Watering practices:</b> Avoid overhead watering, as wet foliage can create favorable conditions for fungal growth. Water at the base of the plant using drip irrigation or soaker hoses to keep the leaves dry.
          <br><b>Fungicides:</b> In severe cases, or when preventive measures are not sufficient, fungicides labeled for use on tomatoes can be applied. Copper-based fungicides or those containing chlorothalonil or mancozeb are often effective against Septoria leaf spot. Follow the instructions on the product label for proper usage, timing, and safety precautions.
          <br><b>Resistant varieties:</b> Consider planting tomato varieties that are resistant or tolerant to Septoria leaf spot. Check with local nurseries or agricultural extension services for recommendations on resistant varieties suitable for your region.
          <br><b>Maintain plant health:</b> Provide adequate nutrition, proper watering, and good overall care to keep your tomato plants healthy and better able to resist disease. Healthy plants are less susceptible to infections.
 <br>
          </p>
          <center><b><u><h1 class="iden" style="font-size: 40px; color:#A52A2A">Management</h1></b></u></center>

          <br>
          <table>
            <tr>
              <th><u><b><h2>CULTURAL CONTROL</h2></u></b></th>
              <th><u><b><h2>CHEMICAL CONTROL</h2></u></b></th>
            </tr>
            <tr>
              <td>Remove diseased leaves. If caught early, the lower infected leaves can be removed and burned or destroyed. However, removing leaves above where fruit has formed will weaken the plant and expose fruit to sunscald. At the end of the season, collect all foliage from infected plants and dispose of or bury. Do not compost diseased plants.
              </td>
              <td>Fungicides containing maneb, mancozeb, chlorothalonil effectively control Septoria leaf spot. Apply at 7 to 10 day intervals throughout the season, mainly during flowering and fruit setting. Follow harvest restrictions listed on the pesticide label.
              </td>
            </tr>
            <tr>
              <td>Improve air circulation around the plants. If the plants can still be handled without breaking them, stake or cage the plants to raise them off the ground and promote faster drying of the foliage.
              </td>
            </tr>
            <tr>
              <td>Mulch around the base of the plants. Mulching will reduce splashing soil, which may contain fungal spores associated with debris. Apply mulch after the soil has warmed.
              </td>
            </tr>
            <tr>
              <td>Do not use overhead watering. Overhead watering facilitates infection and spreads the disease. Use a soaker hose at the base of the plant to keep the foliage dry. Water early in the day.
              </td>
            </tr>
            <tr>
              <td>Control weeds. Nightshade and horsenettle are frequently hosts of Septoria leaf spot and should be eradicated around the garden site.
              </td>
            </tr>
            <tr>
              <td>Use crop rotation. Next year do not plant tomatoes back in the same location where diseased tomatoes grew. Wait 1–2 years before replanting tomatoes in these areas.
              </td>
            </tr>
            <tr>
              <td>Use fungicidal sprays. If the above measures do not control the disease, you may want to use fungicidal sprays. Fungicides will not cure infected leaves, but they will protect new leaves from becoming infected. Apply at 7 to 10 day intervals throughout the season. Apply chlorothalonil, maneb, macozeb, or a copper-based fungicide, such as Bordeaux mixture, copper hydroxide, copper sulfate, or copper oxychloride sulfate. Follow harvest restrictions listed on the pesticide label.
              </td>
            </tr>
          </table></br></br>
        <b><h1 class="iden">Caused By:</h1></b>
          <p class="para">Septoria leaf spot is caused by the fungus Septoria lycopersici. This fungus can attack tomatoes at any stage of development, but symptoms usually first appear on the older, lower leaves and stems when plants are setting fruit. Symptoms usually appear on leaves, but can occur on petioles, stems, and the calyx.
          </p>
        </br></br>
      
          <p class="imp">It is important to regularly monitor your tomato plants for signs of septoria leaf spot and take action at the first appearance of symptoms. By implementing these preventive measures and promptly treating any infections, you can help manage septoria leaf spot and minimize its impact on your tomato crop.
          </p>
    </div> 




</body>
</html>